<!DOCTYPE html>
<html>
<head>
    <title>Lista de Tarefas</title>
</head>
<body>
    <h1>Lista de Tarefas</h1>
    <ul>
        {% for index in range(tasks|length) %}
        <li>
            {{ tasks[index] }}
           
        </li>
        {% endfor %}
    </ul>
    <form action="/add_task" method="POST">
        <input type="text" name="task">
        <button type="submit">Adicionar</button>
    </form>

    <script>
        // Função para exibir um alerta de confirmação antes de excluir uma tarefa
        function confirmDelete() {
            return confirm("Tem certeza de que deseja excluir esta tarefa?");
        }
    </script>
</body>
</html>
