<!DOCTYPE html>
<html>

<head>
    <title>Outra Página</title>
</head>

<body>
    <h1>Relatório sobre Frameworks</h1>

    <br>

    <h3>1. O que são Frameworks e para que são utilizados?</h3>

    <p>
        Frameworks são ferramentas que permitem o desenvolvimento de aplicativos
        de forma mais rápida e eficiente. Eles fornecem uma base sólida e recursos
        pré-implementados, o que facilita a construção de aplicativos de alta qualidade,
        reduzindo o tempo de desenvolvimento e aumentando a produtividade dos desenvolvedores.
    </p>

    <br>

    <h3>2. Liste 4 Frameworks utilizados para programação Web selecionados por você, um para cada linguagem
        (Python, Java, PHP e Javascript). Descreva estes frameworks segundo seus propósitos e diferencial.
    </h3>



    <h5>Python - Flask</h5>
    <p>
        O Flask é um framework minimalista e flexível para desenvolvimento web em Python.
        Com uma sintaxe simples e direta, ele permite criar aplicativos web de forma rápida
        e eficiente. Sua arquitetura leve oferece liberdade na escolha de bibliotecas e ferramentas
        adicionais. O Flask é conhecido por sua simplicidade e extensibilidade, permitindo a integração
        de recursos como autenticação de usuário e bancos de dados. É uma opção popular tanto para
        iniciantes quanto para desenvolvedores experientes.
    </p>


    <h5> Java - Spring Boot</h5>

    <p>
        O Spring Boot é um framework Java que facilita a criação de aplicativos web e APIs RESTful. Sua configuração
        "opinião sobre configuração", fornece configurações padrão inteligentes, reduzindo a quantidade de código
        necessário. O Spring Boot também oferece recursos avançados de injeção de dependência, gerenciamento de
        transações e segurança. Além disso, ele se integra perfeitamente com outros projetos do ecossistema Spring,
        permitindo que os desenvolvedores aproveitem o conjunto completo de recursos do Spring Framework.

    </p>

    <h5> PHP - Laravel</h5>

    <p>
        Laravel é um framework PHP elegante e poderoso, projetado para tornar o desenvolvimento web rápido e eficiente.
        Ele possui uma sintaxe clara e expressiva que facilita a leitura e escrita do código. O Laravel oferece recursos
        como roteamento simplificado, um ORM intuitivo, sistema de template elegante e autenticação de usuário. O
        Laravel possui uma comunidade ativa e um ecossistema robusto, com uma ampla gama de pacotes e extensões
        disponíveis para estender suas funcionalidades.
    </p>

    <h5> JavaScript - React</h5>

    <p>
        React é um framework JavaScript amplamente utilizado para a criação de interfaces de usuário interativas. Ele
        permite construir componentes reutilizáveis e eficientes, facilitando a criação de interfaces complexas. O React
        utiliza o conceito de "Virtual DOM", que torna as atualizações de interface mais rápidas e eficientes. Outro
        diferencial do React é a sua grande comunidade e ecossistema, que oferece uma ampla gama de bibliotecas e
        ferramentas para auxiliar no desenvolvimento de aplicativos web modernos. O React é altamente escalável e
        suporta a criação de aplicativos móveis nativos por meio do React Native.
    </p>
    <br>

    <h3>3. Selecione um trecho de código que utilize cada um destes frameworks e descreva o funcionamento do trecho.
    </h3>


    <h4>Python - Flask</h4>

    <P>
        from flask import Flask<br>
        app = Flask(__name__)<br>
        @app.route('/')<br>
        def raiz(): <br>
        return "Olá Mundo"<br>

        @app.route('/rota1')<br>
        def rota1():<br>
        return "Esse é o Framework Flask"<br>

        @app.run()<br>
    <P>

    <h5>Explicação:</h5>

    <p>
        Esse código define duas rotas em uma aplicação Flask em Python.
        Quando a rota raiz ("/") é acessada, a mensagem
        "Olá Mundo" é exibida, e quando a rota "/rota1" é acessada, a
        mensagem "Esse é o Framework Flask" é exibida. A
        aplicação Flask é então executada para receber e responder às
        solicitações web.

    </p>



    <h4>Java - Spring Boot</h4>
    <P>
        package com.firstProject.hellollorld.controller;<br>

        import org.springframework.web.bind.annotation.GetMapping;<br>
        import org.springframework.web.bind.annotation.RestController;<br>

        @RestController<br>
        public class Hellocontroller {<br>

        @GetMapping("/")<br>
        public String helloMessage (){<br>
        return "olá Mundo";<br>
        }<br>
        }<br>
    </P>
    <h5>Explicação:</h5>

    <p>
        O código define um controlador em uma aplicação Spring Boot
        em Java. Quando a rota raiz ("/") é acessada com uma
        solicitação GET, a mensagem "olá Mundo" será retornada como
        resposta. O controlador é definido como uma classe anotada com @RestController, 
        indicando que ele será responsável por lidar com as 
        requisições HTTP e fornecer respostas.

    </p>



    <h4>PHP - Laravel</h4>

    <P>

        use Illuminate\Support\Facades\Route;<br>
        use App\Http\Controllers\HelloController;<br>
        Route::get('/hello', [HelloController::class, 'index']);<br>
        <br>
        namespace App\Http\Controllers;<br>

        use Illuminate\Http\Request; <br>

        class HelloController extends Controller<br>
        {<br>
        public function index()<br>
        {<br>
        return 'Hello World!';<br>
        }<br>
        }<br>
    </P>
    <h5>Explicação:</h5>

    <p>
        O controlador HelloController está dentro do
        namespace App\Http\Controllers e contém um único
        método chamado index. Quando a rota /hello é
        acessada, esse método é executado. No caso desse
        exemplo, o método retorna a string "Hello World!". </p>
    <br>



    <h4>JavaScript - React</h4>
    <P>
        import React from 'react':<br>

        class HelloWorld extends React.Component <br>
        render (){<br>
        return 'ola, mundo';<br>
        }<br>
        export default HelloWorld;<br>
    </P>
    <h5>Explicação:</h5>

    <p>
        Dentro da classe HelloWorld, há um método chamado render().
        Esse método é usado para renderizar o conteúdo do
        componente na tela. No exemplo, o método render() retorna a string
        "ola, mundo".
        Por fim, o componente é exportado usando export default HelloWorld,
        o que significa que ele pode ser importado e
        usado em outros arquivos dentro do projeto.
    </p>
    <br>




    <a href="/">Voltar para a lista de tarefas</a>

</body>

</html>